<!DOCTYPE html>
<html>
	<head>
		<title>Vaporwave Index</title>
		<meta charset="UTF-8">
		<meta name="author" content="Nils Korsfeldt">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- CSS -->
		<link rel="stylesheet" href="stylesheets/main.css">

		<!-- JS -->
		<script defer src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
		<script defer src="scripts/main.js"></script>
	</head>
	<body>
		<div class="main">
			<div class="helloworld">
				<p>Hello world!</p>
			</div>
		</div>
	</body>
</html>